body {
  background: linear-gradient( #2449ee , black 70% );
  background-image: url('./utils/imagenes/depositphotos_34608059-stock-photo-flags-keyboard.png');
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
}