
.search-box {
    display: flex;
    background-color: hwb(221 22% 31% / 0.911);
    width: 120%;
    top: 0;
    left: 0;
    padding: 5px 10px;
    display: block;
}


.barra_busqueda {
    margin-top: 25px;
    float: inline-start;
    margin-left: 25%;
    

}

.busqueda {
    margin: 15px 3px 25px 25px;
    border-style: solid;
    border-radius: 5px;
    border-color: #347abd;
    padding: 5px;
    margin-top: 8px;
    
    


}

.boton_busqueda {
border-radius: 20%;
padding: 10px;
border-radius: 10px;
float: right;
background-color: hsl(0, 0%, 100%);
border-style: solid;
border-color: #347abd;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: large;
color:#081664;
cursor: pointer;

transform: translateZ(0);
transition: transform 0.3s ease-out;
} 

.boton_busqueda:hover {
    color:whitesmoke;
    background-color: #0b1730;
    transform: scale(1.05);
  }

.boton_crear {
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    float: right;
    background-color: hsl(0, 0%, 100%);
    border-style: solid;
    border-color: #347abd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:#081664;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.3s ease-out;
    float:inherit
    
}
.boton_crear:hover {
    color:whitesmoke;
    background-color: #0b1730;
    transform: scale(1.05);
  }

.boton_salir {
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    float: right;
    margin-right: 25%;
    background-color: hsl(0, 0%, 100%);
    border-style: solid;
    border-color: #347abd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:#081664;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.3s ease-out;   

}

.boton_salir:hover {
    color:whitesmoke;
    background-color:#0b1730;
    transform: scale(1.05);
  }

.filtros {
    float: inline-end;
    width: 100%;
    margin-top: 25px;
    padding: 10px 20px;
    background-color: hsl(221, 61%, 19%);
}