.contenedor{
    padding-top: 5%;
    width: 16rem;
    margin: 20rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    
}

.actividades {
    display: inline-block;
    height: auto;
    border-color: #347abd;
    border-radius: 3rem;
    padding-top: 5%;
    padding-bottom: 4rem;
    width: 50rem;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4rem;
    align-items: center;
    text-align: center;
    border-style: solid;
    color: #0b1730;
    background-color:aliceblue
    
}

.boton_eliminar {
    margin: 1rem;
    padding: 1rem;
    width: 5rem;
    height: 6rem;
    border-radius: 2rem;
    background-color: hwb(244 4% 58%);
    border-style: solid;
    border-color: #347abd;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:hwb(229 89% 5%);
    cursor: pointer;
}

.boton_eliminar:hover {
    color:black;
    background-color: blanchedalmond;
    transform: scale(1.05);
}

.boton_volver {
    margin-top: 3rem;
    margin-right: 6rem;
    border-radius: 20%;
    padding: 2rem;
    border-radius: 2rem;
    float:initial;
    background-color: hsl(0, 0%, 100%);
    border-style: solid;
    border-color: #347abd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:hsl(231, 85%, 21%);
    cursor: pointer;
}




.boton_volver:hover {
    background-color:#0b1730;
    transform: scale(1.05);
    color:white;
  }

.parrafo_principal {
    font-size: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.parrafo_secundario {
    font-size: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2rem;
}

.mensaje_actividades {
    border-color: #347abd;
    border-radius: 4rem;
    margin-left: 44rem;
    width: 80rem;
    height: 10rem;
    font-size: 4rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    color: #0b1730;
    background-color:aliceblue
}

.boton_cambios {
    margin-top: 4rem;
    padding: 1rem;
    width: 16rem;
    height: 6rem;
    border-radius: 2rem;
    background-color: hwb(244 4% 58%);
    border-style: solid;
    border-color: #347abd;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    color:hwb(229 89% 5%);
    cursor: pointer;
}

.boton_cambios:hover {
    color:black;
    background-color: blanchedalmond;
    transform: scale(1.05);
}
    

@media only screen and (max-width:60rem) {
    .contenedor {
        grid-template-columns: 1fr 1fr ;
    }
}

@media only screen and (max-width:40rem) {
    .contenedor {
        grid-template-columns: 1fr ;
    }
}

@media only screen and (max-width:60rem) {
    .mensaje_actividades {
    margin-left: auto;
    width: 60rem;
    }
}


