.barra_busqueda {
    margin-top: 5rem;
    display:inline;
    margin-left: 10%;

}

.busqueda {
    margin: 3rem 1rem 5rem 5rem;
    border-style: solid;
    border-radius: 5px;
    border-color: #347abd;
    padding: 1rem;
    margin-top: 2rem;
    
    

}

.boton_busqueda {
    border-radius: 20%;
    padding: 2rem;
    border-radius: 2rem;
    background-color: hsl(0, 0%, 100%);
    border-style: solid;
    border-color: #347abd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:#081664;
    cursor: pointer;
    transform: translateZ(0);
    transition: transform 0.3s ease-out;
} 

.boton_busqueda:hover {
    color:whitesmoke;
    background-color: #0b1730;
    transform: scale(1.05);
  }