.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el contenedor tenga al menos la altura de la ventana */
  }
  
  .content {
    flex: 1; /* Ocupa el espacio restante antes del footer */
  }

