.nav_detail {
    display: flex;
    background-color: hwb(221 22% 31% / 0.911);
    width: 200rem;
    height: 20rem;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    display: block;
    margin-bottom: 2rem;
}
.boton_detail {
    margin-top: 5rem;
    border-radius: 20%;
    padding: 2rem;
    border-radius: 2rem;
    float:initial;
    background-color: hsl(0, 0%, 100%);
    border-style: solid;
    border-color: #347abd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:hsl(231, 85%, 21%);
    cursor: pointer;
}

.boton_detail:hover {
    background-color:#0b1730;
    transform: scale(1.05);
    color:white;
  }

.enlace {
    text-decoration: none;
   
}

.principal {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    border-style: solid;
    background-color: aliceblue;
    margin-bottom: 10rem;
    padding: 9rem 4rem 4rem 4rem;
    width: 100rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nombre_detalle {
    text-align: center;
    font-size: 8rem;
    
}

.bandera {
    width: 70rem ;
    margin-top: 5rem;
    margin-bottom: 6rem;
    
}

.detalle {
    font-size: 3rem;
    margin-top: 2rem;
    border-style:double;
    border-color: #0b1730;
    margin-bottom: 4rem;
    padding: 4rem;
}

.subtitulo {
    margin-bottom: 2rem;
}


.titulo {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100rem;
    border-radius: 2rem;
    border-style: solid;
    background-color: aliceblue;
    padding: 3rem;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.detalle_actividad {
    margin-top: 1rem;
    font-size: 4rem;
    border-style:double;
    border-color: #0b1730;
    padding: 5rem;
}

.mensaje {
    margin-top: 5rem;
    font-size: 4rem;
    border-style:double;
    border-color: #0b1730;
    padding: 5rem;
}

@media only screen and (max-width:60rem) {

    .nav_detail {
        width: 180rem;
    }
    .principal{
        width: 70rem;
        display: grid;
        grid-template-columns: 1fr;

    }

    .detalle_actividad {
        width: 70rem;
        display: grid;
        grid-template-columns: 1fr;
    }

    .titulo{
        width: 70rem;
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width:50rem) {
    .nav_detail {
        width: 160rem;
    }
}

@media only screen and (max-width:40rem) {
    .nav_detail {
        width: 120rem;
    }
}

