.card-container {
    width: 24rem;
    height: 48rem;
    box-shadow: 0 2rem 4rem black;
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-direction:column;
    background: whitesmoke;
    align-items: center;
    border: 1px;
    border-radius: 2rem;
    border-style: solid;
    border-color: black;
    padding: 5rem;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    

}
.enlace {
    text-decoration: none;
}

.card-container:hover {
    transform: scale(1.05);
}

.nombre_cards {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 4rem;
    margin-bottom: 2rem;
    
    

}

.imagen_cards {
    height: 16rem;
    width: 30rem;
    display: inline;;

}

.continente {
    margin-top: 3rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #080831;

}

