.card-container {
    width: 100px;
    height: 200px;
    box-shadow: 0 10px 20px black;
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-direction:column;
    background: whitesmoke;
    align-items: center;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    

}
.enlace {
    text-decoration: none;
}

.card-container:hover {
    transform: scale(1.05);
}

.nombre {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    
    

}

.imagen {
    height: 80px;
    width: 110;
    display: inline;;

}

.continente {
    margin-top: 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #080831;

}