.card {
    min-height: 300px; /* Ajusta según sea necesario */
    display: flex;
    flex-direction: column;
  }
  .card-img-top {
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsionar */
    height: 200px; /* Ajusta según sea necesario */
  }
  .card-body {
    flex: 1; /* Permite que el contenido de la tarjeta ocupe el espacio restante */
  }