


.home-container {
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home-title {
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    color:#4d3c0f;
    font-family: "Bigelow Rules";
}