* {
  padding: 0;
  margin: 0;
}

.container {
  background-image: url('../../imagenes/planeta2.png');
  background-position: 49% 21%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 318px;
  height: 318px;
  border-radius: 50%;
  background-repeat: no-repeat;
  font-size: 10px;

    

}

.message {
    margin-top: 145px;
    float: start;
    font-size: 4em ;
    color: black;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 4px 5px blanchedalmond;
}

.button {
    background-color: #0b1730;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-top: 150px;
    border-style: solid;
    border-color: #347abd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:white;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.3s ease-out;

}

button:hover {
  color:black;
  background-color: blanchedalmond;
  transform: scale(1.05);
}