.boton {
    margin: 25px 25px 25px 25px;
    border-radius: 20%;
    padding: 10px;
    border-radius: 10px;
    float:initial;
    background-color: hsl(0, 0%, 100%);
    border-style: solid;
    border-color: #347abd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:#081664;
    cursor: pointer;
}

.formulario {
    background-color: hwb(209 48% 18%);
    width: 220px;
    height: 550px;
    margin-left: 37%;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
    border-color: hsl(231, 59%, 15%);
    border-style: ridge;
    
    
}

.nombre, .barra, .selector {
    display: block;
    text-align: left;

}

.nombres {
    
    margin: 10px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: hsl(231, 59%, 15%);
}

.barra {
   
    margin: 10px 10px 10px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-style: solid 1px;
    border-color: dodgerblue;
    border-radius: 3px;
    padding: 1px;
    width: 195px;

}

.selector {
    
    margin-left: 25%;
    margin: 10px 10px 10px 10px;
    border-color: dodgerblue;
    border-style: solid 3px;
    padding: 5px;
    width: 200px;
    border-radius: 3px;
}

.crear {
    border-radius: 20%;
    padding: 10px;
    border-radius: 10px;
    float:initial;
    background-color: hsl(0, 0%, 100%);
    border-style: solid;
    border-color: #347abd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    margin-top: 20px;
}

.pais {
    display: inline;
}