.formulario {
    display: inline-block;
    background-color: hwb(209 48% 18%);
    width: auto;
    height: auto;
    padding: 5rem 5rem 5rem 5rem;
    border-radius: 2rem;
    border-color: hsl(231, 59%, 15%);
    border-style: ridge;
    margin-top: 1rem;
    
    
    
}

.nombre, .barra, .selector {
    display: block;
    text-align: left;

}

.nombres {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    margin-bottom: 0%;
    color: hsl(231, 59%, 15%);
    
    
}

.barra {
    color: black;
    background-color: aliceblue;
    margin: 2rem 2rem 2rem 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    border-style: solid;
    border-color: dodgerblue;
    border-radius: 1rem;
    width: 39rem;
    margin-top: 0%;

}

.selector {
    margin-left: 5rem;
    margin: 2rem 2rem 2rem 2rem;
    border-color: dodgerblue;
    border-style: solid 1rem;
    padding: 1rem;
    width: 40rem;
    border-radius: 1rem;
    margin-top: 0%;
}

.crear {
    border-radius: 20%;
    padding: 2rem;
    border-radius: 2rem;
    float:initial;
    background-color: hsl(0, 0%, 100%);
    border-style: solid;
    border-color: #347abd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    margin-top: 4rem;
    
}

.pais {
    display: inline;
    font-size: 3rem;
}

.error_form {
    color: #ac2020;
    font-size: 4rem;
}