.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 1px;
  }
  
  .pagination li a {
    text-decoration: none;
    color: #9c9999;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .pagination li a:hover {
    background-color: #f0f0f0;
  }
  
  .pagination .active a {
    background-color: #007bff;
    color: #fff;
  }