.pagination {
   display: flex;
   margin-top: 5rem;
}
  
.boton_paginacion {
   color: hwb(231 8% 54%);
   width: 16rem;
   height: 6rem;
   margin: 1rem;
   font-size: 2rem; 
   border-radius: 2rem; 
   border-style: solid; 
   border-color: #347abd; 
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }

 .datos {
   color: hwb(231 8% 54%);  
   font-family:'Times New Roman', Times, serif;  
   font-size: 4rem;  
   background-color: whitesmoke;
   border-radius: 2rem;  
   border-style: solid;  
   border-color: #347abd;  
   margin-top: 1rem;  
   margin-bottom: 1rem;  
   width: 16rem;  
   height: 5rem;
 }

.boton_paginacion:hover {
   color:whitesmoke;  
   background-color: #0b1730;  
   transform: scale(1.05);
}