.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 1px;
  }
  
  .pagination li a {
    color: black;
    padding: 5px 10px;
    border: 1px solid rgb(49, 48, 48);
    border-radius: 5px;
  }
  
  .pagination li a:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .pagination li a:active {
    background-color: white;
    color: black;
  }